.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
.crash
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.rc

# IDE
.vscode/
.idea/
.DS_Store

# sensitive
*.pem
*.key

.env
